<!doctype html><meta charset=utf-8><title> Try Asciidoc in your browser </title>
<link rel="stylesheet" href="cm/lib/codemirror.css">
<link rel="stylesheet" href="asciidoc.css">
<style>
  html, .CodeMirror, .CodeMirror-scroll {
    height: 100%;
  }
  .CodeMirror, #reditor {
    height: calc(100% - 50px);
    margin-top: 20px;
    box-shadow: 0px 0px 3px #bbb inset;
    border: 0;
  }
  .CodeMirror { font-family: DejaVu Sans Mono, monospace; font-size: 10px; }
  body {
    margin: auto;
    width: 90%;
    height: 100%;
  }
  #leditor { height: 100%; }
  #reditor { overflow: auto; padding: 5px; }
  #leditor, #reditor {
    width: 50%;
    float: left;
  }
  #error {
    position: fixed;
    bottom: 0;
    background: #f88;
    display: none;
    z-index: 2;
  }
  #website-link {
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 0.7em;
    color: #aaa;
  }
  #website-link a {
    color: #aaa;
    text-decoration: none;
  }
  #website-link a:hover { text-decoration: underline; }
  #website-link a::before { content: '['; }
  #website-link a::after { content: ']'; }
</style>


<div id='leditor'>
  <textarea id='lcode'></textarea>
  <pre id='error'></pre>
</div>
<div id='reditor'>
  <div id='rprod'></div>
</div>
<div id='website-link'>
  <a href="/">主页</a>
  写
  <a href="/test.html">测试</a> |
  <a href='http://asciidoc.org'>AsciiDoc website</a>
  <a href='https://github.com/espadrine/AsciiDocBox/'>Code on GitHub</a>
</div>

<script src='cm/lib/codemirror.js'></script>
<script src='cm/mode/asciidoc/asciidoc.js'></script>
<script src='opal.js'></script>
<script src='asciidoc.js'></script>
<script>
(function SetEditor() {


// By default, CM maps the Tab key to the insertion of an actual tab.
function betterTab(cm) {
  if (cm.somethingSelected()) {
    cm.indentSelection("add");
  } else {
    cm.replaceSelection(cm.getOption("indentWithTabs")? "\t":
      Array(cm.getOption("indentUnit") + 1).join(" "), "end", "+input");
  }
}
var editor = CodeMirror.fromTextArea(document.getElementById("lcode"), {
  mode: 'asciidoc',
  indentUnit: 2,
  lineWrapping: true,
  electricChars: false,
  extraKeys: { Tab: betterTab }
});

function showError(msg) {
  window.error.textContent = msg;
  window.error.style.display = 'block';
}

function cmChange(editor) {
  try {
    window.error.style.display = 'none';
    window.rprod.innerHTML = Opal.Asciidoctor.$render(editor.getValue());
  } catch(e) {
    showError(e.message);
  }
}

editor.on('change', cmChange);

// Wrap text smartly.
var charWidth = editor.defaultCharWidth(), basePadding = 4;
editor.on("renderLine", function(cm, line, elt) {
  var off = CodeMirror.countColumn(line.text, null, cm.getOption("tabSize")) * charWidth;
  elt.style.textIndent = "-" + off + "px";
  elt.style.paddingLeft = (basePadding + off) + "px";
});
editor.refresh();
window.editor = editor;

}());
</script>
